.nav-wrap:{
    width: 1000px;
    left: auto;
    right: auto;
}


.navbar-default {
    background-color: #43609C;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    background-color: #4066B5;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
    background: darken(#43609C, 3%);
}