body{
    overflow-x: hidden;
}
.ui-accordion-content {  
    width: 100%;  
    background-color: #fff;  
    color: #555;  
    font-size: 10pt;  
    line-height: 16pt; 
    border: 1px solid #ddd;
}

.ui-accordion-header {  
    background-color: #fff;
    margin: 0;
}   

.ui-accordion .ui-accordion-header{
    margin: 3px 0 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit_btn {
    width: 30px;
    height: 20px;
}

.ui-datepicker-calendar {
    display: none;
    }



.skill-cotainer{
    margin-bottom: 5px;
}

.option-box{
    color: #3e6d8e;
    background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
}

.option-box:hover{
    background-color: #b3cee1;
}

.tags{
    line-height: 18px;
    float: left;
}

.tags a{
	color: #07c;
	text-decoration: none;
	cursor: pointer;
    }
.tag-remove-icon{
    border: 1px solid;
    opacity: 1;
    border-radius: 1px;
    padding: 2px;
    margin-top: -2px;
    margin-left: 3px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #ddd;
    background: #f5f5f5;
    color: #333;
    background-color: #f5f5f5; 
    font-weight: normal;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}