.task-box{
    border-radius: 5px;
    padding: 5px;
    background: #fff;
    margin: 0;
}

.title{
    padding:0 5px;
}

.task-box:hover{
    background: #f3f3f3;
    ocupacy: 0.8;
    cursor: pointer;
}

.mark_done_btn{
    width: 40px;
}

.edit_btn{
    width: 40px;
}

.remove_btn{
    width: 40px;
}

