.task-box{
    margin-top : 10px;
    border : 1px solid;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
}

.title{
    margin-left: 10px;
}

.mark_done_btn{
    height:20px;
    width: 30px;
}

.edit_btn{
    height:20px;
    width: 30px;
}

.remove_btn{
    height:20px;
    width: 30px;
}
