<html>
<head>
    <title>Quiz App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
{% block header %}
{% endblock %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
     <link rel="stylesheet" href="/stylesheets/main.css">
      <link rel="stylesheet" href="/stylesheets/menu.css">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
</head>
<body >
 <div class="navBar">
  <nav class="navWrap">
     <ul class="navigation">
        <li><a href="/"></a></li>
        <li><a href="#">About</a></li>
      </ul>
  </nav>
 </div>
  <div class="row">
    
    <!-- leftbar -->
    <div class="col-md-3">
      {% block left_bar %}
      {% endblock %}
    </div>
    
    <!-- Main body -->
    <div class="col-md-6">
      
      {% block body %}

      {% endblock %}
      
    </div>
    
    <!-- Right Bar -->
    <div class="col-md-2">
      {% block right_bar %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
