{% extends "base.html" %}

{% block header %}
<script src="/js/faq.js"></script>
{% endblock %}

{% block body%}
<div id="main">

   <h3>Question1</h3>
   <div>
      Quiz app is an application that allows users to test their knowldege on diffrent subjects.
    </div>

    <h3>Question2</h3>
    <div>
      This is the answer to teh question number 2
    </div>
    
    <h3>Question 3</h3>
    <div>
      This is answer 3
    </div>
    
    <h3>Question 4</h3>
    <div>
      This is answer to question number 4
    </div>
  </div>
</div>
{% endblock %}
