{% extends "base.html" %}

{%block header%}
<link rel="stylesheet" href="/stylesheets/lists.css">
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.js"></script>
<script src="/js/lists.js"></script>
{%endblock%}

{%block body %}
<div role="tabpanel">
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#todo_tab" aria-controls="todo_panel" role="tab" data-toggle="tab">Todo</a></li>
	<li role="presentation"><a href="#shopping_tab" aria-controls="shopping_panel" role="tab" data-toggle="tab">Shopping</a></li>
	<li role="presentation"><a href="#courses_tab" aria-controls="courses_panel" role="tab" data-toggle="tab">Courses</a></li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
	
	<!--Tab of todo list goes here-->
	<div role="tabpanel" class="tab-pane active" id="todo_tab">
	    <button class="btn btn-primary" id="add_task_btn">
		<span class="glyphicon glyphicon-plus"></span>
		Add New Task
	    </button>
	    <hr>
	    
	    <div class="modal fade" id="add_task_modal" data-backdrop="static">
		<div class="modal-dialog">
		    <div class="modal-content">
			<div class="modal-header text-center">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    <h4 class="text-bold">
				Add task to the todo list
			    </h4>
			</div>
			<div class="modal-body">
			    <form id="add_task_form">
				<input type="text" name="task" class="form-control default-input">
				<hr>
				<input type="submit" value="Add task" class="btn btn-primary">
			    </form>
			</div>
		    </div>
		</div>
	    </div>
	    
	    <div class="todo-lists">
		<div id="todo_list_container">
		    
		</div>
	    </div>

	    <div class="completed-task header">
		<div id="completed-list">
		</div>
	    </div>

	    <!-- COMPLETED TASK   -->
	    
	    <div id="completed_task_frame">
		<div>
		    <div>
			<div class="task-box row">
			    <div class="col-md-9 col-sm-9 title name">
			    </div>
			    <div class="btn-group options col-md-3 col-sm-3" role="group">
				<button class="unmark_done_btn btn btn-default" type="button" title="Unmrk as done">
				    <span class="glyphicon glyphicon-ok"></span>
				</button>
				<button class="btn btn-default remove_task_btn" type="btoon" data-toggle="tooltip" data-placement="top" title="Remove this task">
				    <span class="glyphicon glyphicon-remove"></span>
				</button>
			    </div>
			</div>
		    </div>
		</div>
		<hr>
	    </div>

	    
	    <!-- TODO TASK FRAME -->

	    <div id="todo_task_frame">
			<div class="task-container">
			    <div class="task-box row">
				<div class="col-md-9 col-sm-9 title name">
				</div>
				<div class="btn-group options col-md-3 col-sm-3" role="group">
				    <button class="mark_done_btn btn btn-default" type="button">
					<span class="glyphicon glyphicon-ok"</span>
				    </button>
				    <button class="edit_task_btn btn btn-default" type="button">
					<span class="glyphicon glyphicon-pencil"></span>
				    </button>
				    <button class="remove_task_btn btn btn-default" type="button">
					<span class="glyphicon glyphicon-remove"></span>
				    </button>
				</div>
			    </div>
			</div>
			<hr>
		    </div>
	    
	</div>
	
	<!--SHOPPING LIST TAB-->
	<div role="tabpanel" class="tab-pane" id="shopping_tab">
	    <button id="create_shopping_btn" class="btn btn-primary">
		<span class="glyphicon glyphicon-plus">
		</span>
		Create a new Shopping List
	    </button>
	    <hr>
	    
	    <div class="modal fade" id="add_shopping_modal" data-backdrop="static">
		<div class="modal-dialog">
		    <div class="modal-content">
			<div class="modal-header text-center">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    <h4 class="text-bold">
				Create a new shopping list
			    </h4>
			</div>
			<div class="modal-body">
			    <form id="add_shopping_form">
				<input type="text" class="default-input form-control" id="shopping_list_name">
				<input type="text" name="item" class="form-control default-input">
			    </form>
			    <button class="btn btn-default" id="add_items_btn">
				<span class="glyphicon glyphicon-plus">
				</span>
				Add Items
			    </button>   
			</div>
			<div class="modal-footer text-center">
			    <button class="btn btn-default" data-dismiss="modal" >Close</button>
			    <button class="btn btn-primary" id="submit_shopping_btn" type="submit" form="add_shopping_form" >
				<span class="glyphicon glyphicon-plus"></span>
				Create List
			    </button>
		
			</div>
		    </div>
		</div>
	    </div>

	    <div class="shopping-lists" id="shopping_lists">
		
		<div id="shopping_item_frame">
		    <div class="item-container">
			<div class="list-body">
			    <div class="row">
				<div class="col-md-9 col-sm-9 name">
				</div>
				<div class="btn-group options col-md-3 col-sm-3" role="group">
				    <button class="mark_bought btn btn-default" type="button">
					<span class="glyphicon glyphicon-ok"</span>
				    </button>
				    <button class="edit_item_btn btn btn-default" type="button">
					<span class="glyphicon glyphicon-pencil"></span>
				    </button>
				    <button class="remove_item_btn btn btn-default" type="button">
					<span class="glyphicon glyphicon-remove"></span>
				    </button>
			    </div>
			    </div>
			</div>
		    </div>
		    <hr>
		</div>
		
	    </div>
	</div>
	
	<!--->
	    <div role="tabpanel" class="tab-pane" id="courses_tab">
		<button class="btn btn-primary" id="create_course_btn">
		<span class="glyphicon glyphicon-plus"></span>
		Add New Course
		</button>
		<hr>
		
		<div class="courses-list">
		    <div class="courses-list-container">
			<div id="courses-list">
			</div>
		    </div>
		</div>
   
		<!-- Course Frame -->

		<div id="subject_frame">
		    <div class="subject-container">
			<div class="subject-box row">
			    <div class="col-md-9 col-sm-9 title name">
			    </div>
			    <div class="btn-group options col-md-3 col-sm-3" role="group">
				<button class="mark_completed_btn btn btn-default" type="button">
				    <span class="glyphicon glyphicon-ok"</span>
				</button>
				<button class="edit_subject_btn btn btn-default" type="button">
				    <span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button class="remove_subject_btn btn btn-default" type="button">
				    <span class="glyphicon glyphicon-remove"></span>
				</button>
			    </div>
			</div>
		    </div>
		    <hr>
		</div>
		
		<!-- COURSE MODAL -->
		<div class="modal fade" role="modal" id="create_course_modal">
		    <div class="modal-dialog">
			<div class="modal-content">
			    <div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>				<h4 class="text-bold">
				    Create your courses list
				</h4>
			    </div>
			    <div class="modal-body">
				<form id="add_course_form">
				    <input class="form-control default-input" type="text">
				</form>
				<button type="text" class="btn btn-default" id="add_course_button">
				    <span class="glyphicon glyphicon-plus">
				    </span>
				    Add Course
				</button>
			    </div>
			    <div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">
				    <span class="glyphicon glyphicon-remove">	
				    </span>
				    Close
				</button>
				<button type="submit" form="add_course_form" class="btn btn-pri">
				    <span class="glyphicon glyphicon-plus"></span>
				    Create Course Log
				    
				</button>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
    </div>
    
</div>
<script>
    $('#completed_task_frame').hide();
    $('#todo_task_frame').hide();
    $('#shopping_item_frame').hide();
    $
</script>
{% endblock %}
	
