<html>
    <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/additional-methods.js"></script>
	<script src="/js/signup.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/mainpage.js"></script>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/mainpage.css">
    </head>
    <body>
	<img class="bg" src="/pics/pic1.jpg">
	<div  id="main_page_body" class="row">
	    <div class="col-md-7 hidden-xs col-sm-7">
		<div class="row">
		    <div class="col-md-3 col-sm-3">
		    </div>
		    <div class="col-md-9 col-xs-11 col-sm-9">
			<div class="welcome-message">
			    <div class="welcome-message-title">
				<h1>Welcome to Foducate</h1>
			    </div>
			    <div class="welcome-message-body">
				<h2>It is essential to be prepared! </h2>
				<p>
				    We understand that there's nothing worse than scrambling to come up with an accurate and interesting resume when you have two days to make the submission deadline. So, we help you to keep good records of your benchmarks and accomplishments. Be part of Foducate and never worry about makerting yourself.
				</p>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="center-block col-md-5 col-sm-5">
		<!--Login form -->	
		<div class="box-all-curved front-form">
		    <form id="login">
			<input type="text" class="form-control default-input" 
			       placeholder="Email/Username" name="login_name" id="login_name">
			<div class="row pass-holder">
			    <div class="col-md-9 col-sm-9">
				<input type="password" name="login_pass" id="login_pass" 
					   class="form-control default-input" placeholder="Password">
			    </div>
			    <div class="col-md-2 col-sm-2 submit-holder">
				<input type="submit" value="SignIn" class="btn form-control btn-success btn-submit"> 
			    </div>
			</div>
			<div>
			    <span><input type="checkbox" name="remember" value="remember"></span> 
			    <span class="text-small">Remember Me</span>
			</div>
			<div>
			    <p id="login_status">
			    </p>
			</div>
		    </form>
		</div> <!-- ./Login form -->
		
		
		<!--Signup Form Starts Here -->
		<div class="box-all-curved front-form">
		    <h4>New in foducate? Sign up Here</h4>
		    <form id="signup">
			<input type="text" name="first_name" id="first_name" placeholder="First Name" class="default-input form-control">
			<input type="text" name="last_name" id="last_name" placeholder="Last Name" class="default-input form-control">
			<div id="username_container">
			    <input type="text" name="user_name" id="user_name" placeholder="Username" class="default-input form-control">
			</div>
			<div id="email_container">
			    <input type="text" name="email" id="email" placeholder="Email" class="form-control default-input">
			</div>
			<input type="text" name="email_confirm" id="email_confirm" placeholder="Confirm Email" class="form-control default-input">
			<input type="password" name="password" id="password"  placeholder="Password" class="default-input form-control">
			<input type="submit" value="SignUp" class="btn btn-success">
		    </form>
		</div>
	    </div>
	    <!-- Sign Up form ends here -->
	</div>
    </body>
</html>
