{% extends "index.html" %}

{% block header %}
<link rel="stylesheet" href="/stylesheets/main.css">
{% endblock %}

{% block question %}
<div>
  <div class="title-top-curved">
    Ask your question here
  </div>
  <div class="box-flat">
    <input type="textarea" class="default-input form-control" id="question" placeholder="Type your question here">
    <form onsubmit="return false" class="form-inline">
      <input type="text" class="default-input form-control" id="choice-1" placeholder="Choice 1"><br>
      <input type="text" class="default-input form-control" id="choice-2" placeholder="Choice 2" ><br>
      <input type="text" class="default-input form-control" id="choice-3" placeholder="Choice 3"><br>
      " value="Add">
      </form>
  </div>
</div>
{% endblock %}
