{% extends "base.html" %}

{% block header %}
<script src="/js/settings.js"></script>
{% endblock %}

{% block body %}
<div id="setting-tabs">
  <ul id="">
    <li><a href="#general"> Genereal Settings</a> </li>
    <li><a href="#privacy"> Privacy </a></li>
    <li><a href="#profile"> Profile </a></li>
  </ul>
  <!-- general setting -->
  <div id="general">
    <div>
      Genereal Settings
    </div>
  </div>
  
  <!-- Privacy Settings -->
  <div id="privacy">
    <div>
      Privacy Settings
    </div>
  </div>

  <!--- Profile Settings -->
  <div id="profile">
    <div>
      Profile Settings
    </div>
  </div>

</div>
{% endblock %}

